.admin-container {
    padding: 20px;
    margin-top:3vh;
    margin-left: 6vw;
  }
  
  .admin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .admin-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .admin-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .admin-form button:hover {
    background-color: #45a049;
  }
  